<% if department.errors.any? %>
  <div class="error-messages">
    <h3><%= pluralize(department.errors.full_messages.size, "error") %></h3>
    <% department.errors.full_messages.each do |message|%>
      <div><b><%= message %></b></div>
    <% end %>
  </div>
<% end %>

<%= form_with id: "department_form", model: department do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
