<% if project.errors.any? %>
  <h3><%= pluralize(project.errors.full_messages.size, "error") %></h3>
  <% if project.errors.any? %>
    <% project.errors.full_messages.each do |message|%>
      <div><b><%= message %></b></div>
    <% end %>
  <% end %>
<% end %>

<%= form_with model: project do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
